@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300,500&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic,cyrillic-ext);
@font-face {
  font-family: 'ArianAMU';
  src: url("../fonts/ArianAMU-Regular/ArianAMU_gdi.eot");
  src: url("../fonts/ArianAMU-Regular/ArianAMU_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/ArianAMU-Regular/ArianAMU_gdi.woff") format("woff"), url("../fonts/ArianAMU-Regular/ArianAMU_gdi.ttf") format("truetype"), url("../fonts/ArianAMU-Regular/ArianAMU_gdi.otf") format("opentype"), url("../fonts/ArianAMU-Regular/ArianAMU_gdi.svg#ArianAMU-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-2122; }
@font-face {
  font-family: 'ArianAMU';
  src: url("../fonts/ArianAMU-Bold/ArianAMU-Bold_gdi.eot");
  src: url("../fonts/ArianAMU-Bold/ArianAMU-Bold_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/ArianAMU-Bold/ArianAMU-Bold_gdi.woff") format("woff"), url("../fonts/ArianAMU-Bold/ArianAMU-Bold_gdi.ttf") format("truetype"), url("../fonts/ArianAMU-Bold/ArianAMU-Bold_gdi.otf") format("opentype"), url("../fonts/ArianAMU-Bold/ArianAMU-Bold_gdi.svg#ArianAMU-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-2122; }
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

body {
  min-width: 1020px;
  font-family: "ArianAMU", Arial, sans-serif;
  font-size: 14px;
  line-height: normal;
  color: #35415c;
  background-color: #fff; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

.container {
  width: 1020px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

a {
  color: #35415c;
  text-decoration: none; }
  a:hover, a:focus {
    outline: none; }

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-weight: 400; }

p {
  padding: 0;
  margin: 0 0 10px 0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.h2 {
  color: #35415c;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  margin-bottom: 70px;
  text-transform: uppercase; }

.btn {
  margin: 0;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  position: relative;
  padding: 15px 10px;
  background: #f4463a;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  background-image: none;
  text-transform: uppercase;
  touch-action: manipulation;
  border-bottom: 4px solid #df3024;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .btn:hover {
    color: #fff;
    background: #f6564b;
    text-decoration: none; }
  .btn:active {
    top: 1px; }

.btn-sm {
  font-size: 13px;
  font-weight: 400;
  padding: 9px 10px;
  border-bottom: none;
  text-transform: capitalize; }

.btn-md {
  font-size: 14px;
  font-weight: 700;
  padding: 7px 8px;
  border-bottom: none;
  text-transform: capitalize; }

.form-control {
  margin: 0;
  width: 100%;
  outline: none;
  color: #000;
  font-size: 13px;
  font-weight: 300;
  background: #fff;
  line-height: 20px;
  display: inline-block;
  border: 1px solid #c4c4c4;
  padding: 10px 10px 10px 50px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }
  .form-control::-moz-placeholder {
    color: #595959;
    opacity: 1; }
  .form-control:-ms-input-placeholder {
    color: #595959; }
  .form-control::-webkit-input-placeholder {
    color: #595959; }
  .form-control::-ms-clear {
    display: none;
    width: 0;
    height: 0; }
  .form-control.form-name {
    background: #fff url("../img/icon-user.png") 12px 50% no-repeat; }
  .form-control.form-phone {
    background: #fff url("../img/icon-phone.png") 12px 50% no-repeat; }
  .form-control.form-email {
    background: #fff url("../img/icon-email.png") 12px 50% no-repeat; }
  .form-control:focus::-moz-placeholder {
    color: transparent;
    opacity: 1; }
  .form-control:focus:-ms-input-placeholder {
    color: transparent; }
  .form-control:focus::-webkit-input-placeholder {
    color: transparent; }

.error {
  border-color: #ff0000; }

.red .form-control {
  border-color: #ff0000; }

.form-group {
  margin-bottom: 10px; }
  .form-group .btn {
    width: 100%;
    margin-top: 10px; }

.form-block {
  width: 400px;
  color: #465469;
  background: #fff;
  padding: 25px 28px; }
  .form-block .form-title {
    text-align: center;
    margin: 0 -15px 15px -15px; }
    .form-block .form-title .title-one {
      color: #374559;
      font-size: 19px;
      font-weight: 700;
      line-height: 20px;
      margin-bottom: 5px;
      text-transform: uppercase; }
    .form-block .form-title .title-two {
      color: #455469;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 8px; }
    .form-block .form-title .title-three {
      color: #f4463a;
      font-size: 17px;
      font-weight: 700;
      line-height: 20px;
      text-transform: uppercase; }
  .form-block .form-text {
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    text-align: center;
    margin: 0 -15px 12px -15px; }
  .form-block .sup {
    font-size: 11px;
    font-weight: 600;
    line-height: 20px; }
  .form-block .secret {
    font-size: 11px;
    font-weight: 600;
    line-height: 20px;
    padding-left: 18px;
    background: url("../img/icon-lock.png") 0 50% no-repeat; }
  .form-block .order-list {
    margin: 0;
    list-style: none;
    padding-bottom: 10px; }
    .form-block .order-list li {
      color: #1f1f1f;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      position: relative;
      padding-left: 40px;
      margin-bottom: 15px;
      background: url("../img/icon-check.png") 0 0 no-repeat; }
  .form-block .form-action {
    height: 42px;
    font-size: 14px;
    padding: 11px 0;
    line-height: 20px;
    text-align: center;
    margin: 0 -20px 10px -20px;
    background: rgba(64, 69, 78, 0.4); }
  .form-block .form-block {
    float: left; }

.btn_close {
  top: -45px;
  right: -84px;
  width: 57px;
  height: 57px;
  cursor: pointer;
  position: absolute;
  background: url("../img/icon-close.png") 0 0 no-repeat; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hide {
  visibility: hidden;
  display: none !important; }

.show {
  visibility: visible;
  display: block !important; }

.invisible {
  visibility: hidden; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden; }
  .embed-responsive .embed-responsive-item,
  .embed-responsive iframe,
  .embed-responsive embed,
  .embed-responsive object,
  .embed-responsive video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0; }

.embed-responsive-16by9 {
  padding-bottom: 56.25%; }

.embed-responsive-4by3 {
  padding-bottom: 75%; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.top {
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 125px;
  position: fixed;
  min-width: 1020px;
  padding-top: 15px;
  background: transparent;
  border-bottom: 1px solid #9aa3b1; }
  .top .logo {
    float: left;
    width: 180px; }
  .top .contact {
    float: right;
    width: 250px;
    text-align: right; }
    .top .contact .phone {
      color: #fff;
      font-size: 25px;
      font-weight: 700;
      line-height: 28px;
      margin-bottom: 8px;
      display: inline-block; }
  .top .topnav {
    top: 50px;
    left: 195px;
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute; }
    .top .topnav li {
      float: left;
      margin: 0 13px;
      position: relative; }
      .top .topnav li a {
        color: #fff;
        font-size: 15px;
        font-weight: 300;
        line-height: 20px;
        text-decoration: none; }

.b01 {
  color: #fff;
  height: 867px;
  padding-top: 210px;
  background: url("../img/b01_bg.jpg") 50% 0 no-repeat; }
  .b01 h1 {
    font-size: 44px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-shadow: 0px 2px 7px rgba(40, 48, 71, 0.55); }
  .b01 .text {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 80px; }
  .b01 .form-block {
    float: right;
    position: relative; }

.b02 {
  height: 1133px;
  padding-top: 50px;
  background: #fff url("../img/b02_bg.jpg") 50% 0 no-repeat; }
  .b02 .advantage {
    margin: 0 -15px; }
    .b02 .advantage.advantage-top {
      margin-bottom: 390px; }
    .b02 .advantage li {
      float: left;
      width: 340px;
      color: #35415c;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      padding: 145px 15px 0 15px; }
      .b02 .advantage li.item1 {
        background: url("../img/b02_item1.png") 50% 0 no-repeat; }
      .b02 .advantage li.item2 {
        background: url("../img/b02_item2.png") 50% 0 no-repeat; }
      .b02 .advantage li.item3 {
        background: url("../img/b02_item3.png") 50% 0 no-repeat; }
      .b02 .advantage li.item4 {
        background: url("../img/b02_item4.png") 50% 0 no-repeat; }
      .b02 .advantage li.item5 {
        background: url("../img/b02_item5.png") 50% 0 no-repeat; }
      .b02 .advantage li.item6 {
        background: url("../img/b02_item6.png") 50% 0 no-repeat; }
      .b02 .advantage li .advantage-title {
        font-size: 20px;
        font-weight: 700;
        line-height: 20px;
        margin-bottom: 10px; }

.b03 {
  color: #fff;
  height: 693px;
  padding-top: 70px;
  background: url("../img/b03_bg.jpg") 50% 0 no-repeat; }
  .b03 .h2 {
    color: #fff;
    margin-bottom: 10px; }
  .b03 .subtitle {
    font-size: 25px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    margin-bottom: 50px; }
  .b03 .teachers {
    height: 400px;
    color: #454f63;
    padding-top: 25px;
    position: relative;
    border: 8px solid #444a5e;
    background: #fff url("../img/pattern-two.png"); }
    .b03 .teachers .teachers-slider {
      position: relative; }
    .b03 .teachers .teacher-item {
      outline: none; }
    .b03 .teachers .teacher-author {
      width: 300px;
      font-size: 15px;
      line-height: 20px;
      text-align: center;
      margin-bottom: 10px; }
      .b03 .teachers .teacher-author .teacher-name {
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 10px; }
      .b03 .teachers .teacher-author span {
        display: block; }
    .b03 .teachers .teacher-left {
      float: left;
      width: 198px;
      margin-left: 52px; }
    .b03 .teachers .teacher-image {
      margin-bottom: 12px; }
    .b03 .teachers .teacher-text {
      float: left;
      width: 660px;
      color: #454f63;
      font-size: 16px;
      margin-left: 20px; }
  .b03 .teacher-nav {
    top: 50%;
    width: 33px;
    height: 64px;
    z-index: 999;
    display: block;
    cursor: pointer;
    margin-top: -32px;
    position: absolute;
    background: url("../img/teachers-nav.png") no-repeat; }
    .b03 .teacher-nav.prev {
      left: 0;
      background-position: -33px 0; }
    .b03 .teacher-nav.next {
      right: 0;
      background-position: 0 0; }

.b04 {
  height: 1035px;
  padding-top: 50px;
  background: url("../img/b04_bg.jpg"); }
  .b04 ul {
    margin-bottom: 25px; }
    .b04 ul li {
      float: left;
      width: 266px;
      color: #35415c;
      font-size: 15px;
      line-height: 18px;
      text-align: center;
      margin-left: 96px; }
      .b04 ul li:first-child {
        margin-left: 0; }
      .b04 ul li span {
        display: block;
        margin: 0 -10px; }
  .b04 .item-image {
    position: relative;
    margin-bottom: 15px; }
    .b04 .item-image:after {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      z-index: 50;
      position: absolute;
      background: rgba(53, 65, 92, 0.53); }
    .b04 .item-image:before {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      z-index: 100;
      position: absolute;
      background: url("../img/b04_item_border.png") 50% 50% no-repeat; }
    .b04 .item-image:hover:after {
      display: none; }

.b05 {
  color: #fff;
  height: 698px;
  padding-top: 70px;
  background: url("../img/b05_bg.jpg") 50% 0 no-repeat; }
  .b05 .h2 {
    color: #fff;
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 20px; }
  .b05 .subtitle {
    font-size: 25px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    margin-bottom: 50px; }
  .b05 .form-block {
    margin: 0 auto; }

.b06 {
  padding-top: 50px;
  padding-bottom: 60px;
  background: #fff url("../img/pattern-two.png"); }
  .b06 .h2 {
    margin-bottom: 60px; }
  .b06 .tariff {
    margin: 0 -15px;
    position: relative; }
    .b06 .tariff li {
      float: left;
      width: 310px;
      color: #35415c;
      margin: 0 15px;
      text-align: center;
      font-family: "Roboto", sans-serif;
      padding: 25px 20px 20px 20px; }
      .b06 .tariff li .tariff-name {
        font-size: 29px;
        font-weight: 700;
        line-height: 30px;
        margin-bottom: 80px; }
      .b06 .tariff li .tariff-legend {
        font-size: 19px;
        font-weight: 700;
        margin-bottom: 15px; }
      .b06 .tariff li .tariff-text {
        font-size: 15px;
        font-weight: 300;
        line-height: 24px;
        margin-bottom: 15px; }
      .b06 .tariff li .tariff-price {
        font-size: 47px;
        font-weight: 700;
        line-height: 50px;
        margin-bottom: 15px; }
        .b06 .tariff li .tariff-price span {
          font-family: 'PT Sans', sans-serif; }
      .b06 .tariff li .btn-tariff {
        margin: 0;
        outline: none;
        cursor: pointer;
        font-size: 18px;
        font-weight: 700;
        line-height: 20px;
        text-align: center;
        position: relative;
        padding: 14px 46px;
        display: inline-block;
        text-decoration: none;
        vertical-align: middle;
        background-image: none;
        font-family: "ArianAMU", Arial, sans-serif;
        background: transparent;
        text-transform: uppercase;
        touch-action: manipulation;
        border: 2px solid transparent;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
        .b06 .tariff li .btn-tariff:hover {
          text-decoration: none; }
        .b06 .tariff li .btn-tariff:active {
          top: 1px; }
      .b06 .tariff li.tariff-base {
        overflow: hidden;
        position: relative;
        border: 2px solid #98ba5a;
        border-top: 9px solid #98ba5a;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        border-radius: 3px;
        background: url("../img/b06_item1.png") 50% 70px no-repeat; }
        .b06 .tariff li.tariff-base .btn-tariff {
          color: #98ba5a;
          border-color: #98ba5a; }
          .b06 .tariff li.tariff-base .btn-tariff:hover {
            color: #fff;
            background: #98ba5a; }
      .b06 .tariff li.tariff-optima {
        overflow: hidden;
        position: relative;
        margin-top: -12px;
        border: 4px solid #f4463a;
        border-top: 21px solid #f4463a;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        border-radius: 3px;
        background: url("../img/b06_item2.png") 50% 70px no-repeat; }
        .b06 .tariff li.tariff-optima .btn-tariff {
          color: #fff;
          border: none;
          padding: 15px 46px;
          background: #f4463a;
          border-bottom: 3px solid #df3024; }
          .b06 .tariff li.tariff-optima .btn-tariff:hover {
            color: #fff;
            background: #df3024; }
      .b06 .tariff li.tariff-premium {
        overflow: hidden;
        position: relative;
        border: 2px solid #479acf;
        border-top: 9px solid #479acf;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        border-radius: 3px;
        background: url("../img/b06_item3.png") 50% 70px no-repeat; }
        .b06 .tariff li.tariff-premium .btn-tariff {
          color: #479acf;
          border-color: #479acf; }
          .b06 .tariff li.tariff-premium .btn-tariff:hover {
            color: #fff;
            background: #479acf; }

.b07 {
  color: #fff;
  height: 600px;
  padding-top: 70px;
  background: url("../img/b07_bg.jpg") 50% 0 no-repeat; }
  .b07 .h2 {
    color: #fff;
    margin-bottom: 60px; }

/*# sourceMappingURL=main.css.map */
