.b03 {
	color: #fff;
	height: 693px;
	padding-top: 70px;
	background: url("../img/b03_bg.jpg") 50% 0 no-repeat;

	.h2 {
		color: #fff;
		margin-bottom: 10px;
	}

	.subtitle {
		font-size: 25px;
		font-weight: 700;
		line-height: 25px;
		text-align: center;
		margin-bottom: 50px;
	}

	.teachers {
		height: 400px;
		color: #454f63;
		padding-top: 25px;
		position: relative;
		border: 8px solid #444a5e;
		background: #fff url("../img/pattern-two.png");

		.teachers-slider {
			position: relative;
		}

		.teacher-item {
			outline: none;
		}

		.teacher-author {
			font-size: 15px;
			padding: 0 10px;
			line-height: 20px;
			text-align: center;
			margin-bottom: 10px;

			.teacher-name {
				font-size: 20px;
				line-height: 20px;
				margin-bottom: 10px;
			}

			span {
				display: block;
			}
		}

		.teacher-left {
			float: left;
			width: 300px;
			text-align: center;
		}

		.teacher-image {
			width: 198px;
			overflow: hidden;
			margin-left: 52px;
			margin-bottom: 12px;
		}

		.teacher-text {
			float: left;
			width: 630px;
			color: #454f63;
			font-size: 16px;
		}

		.teacher-skill {
			margin: 0;
			padding: 0;
			height: 125px;
			list-style: none;

			li {
				float: left;
				width: 50%;
				padding: 0 10px 10px 45px;
				background: url("../img/icon-check-two.png") 0 0 no-repeat;
			}
		}

		.btn {

		}
	}

	.teacher-nav {
		top: 50%;
		width: 33px;
		height: 64px;
		z-index: 999;
		display: block;
		cursor: pointer;
		margin-top: -32px;
		position: absolute;
		background: url("../img/teachers-nav.png") no-repeat;

		&.prev {
			left: 0;
			background-position: -33px 0;
		}

		&.next {
			right: 0;
			background-position: 0 0;
		}
	}
}