
$body-bg                :   #fff !default;
$text-color             :   #35415c !default;
$link-color             :   #35415c !default;
$link-hover-decoration  :   underline;


$font-size-base         :   14px !default;
$line-height-base       :   normal !default;
$font-base              :   "ArianAMU", Arial, sans-serif !default;
$font-roboto            :   'Roboto', sans-serif;

