.btn {
	margin:0;
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 17px;
	font-weight: 700;
	line-height: 20px;
	text-align: center;
	position: relative;
	padding: 15px 10px;
	background: #f4463a;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	background-image: none;
	text-transform: uppercase;
	touch-action: manipulation;
	border-bottom: 4px solid #df3024;
	@include border-radius(3px);
	@include transition(.3s);

	&:hover {
		color: #fff;
		background: #f6564b;
		text-decoration: none;
	}

	&:active {
		top: 1px;
	}
}

.btn-sm {
	font-size: 13px;
	font-weight: 400;
	padding: 9px 10px;
	border-bottom: none;
	text-transform: capitalize;
}


.btn-md {
	font-size: 14px;
	font-weight: 700;
	padding: 7px 8px;
	border-bottom: none;
	text-transform: capitalize;
}